<div class="wrap">
  <div class="timer">
    <span class="hours">{{displayTime(currentNumber, 'hours')}}</span>
    <span>:</span>
    <span class="minutes">{{displayTime(currentNumber, 'minutes')}}</span>
    <span>:</span>
    <span class="seconds">{{displayTime(currentNumber, 'seconds')}}</span>
  </div>


  <div class="btn-row">
    <button (click)="startTimer()" mat-raised-button color="primary"
            [disabled]="!buttonStatus">{{ currentNumber === 0 ? 'Start' : 'Resume' }}</button>
    <button (click)="pauseTimer()" mat-raised-button [disabled]="buttonStatus">Stop</button>
    <button (click)="resetTimer()" mat-raised-button color="accent">Reset</button>
  </div>
  <div class="wait">
    <button mat-fab color="warn" (click)="waitTimer()" [disabled]="buttonStatus">Wait</button>
<!--    <button mat-fab color="warn" id="myButton" #myButton [disabled]="buttonStatus">Wait</button>-->
  </div>




  <div *ngIf="buttonStatus" class="settings">
    <p><span>Speed:</span>
      <input type="number" [(ngModel)]="coefficient" min="1"/>
    </p>
  </div>

</div>

<!--<button class="wait" >Wait</button>-->
