<h1>CurrentNumber: {{ currentNumber }}</h1>

<div class="timer">
  <span class="hours">{{displayTime(currentNumber, 'hours')}}</span>
  <span>:</span>
  <span class="minutes">{{displayTime(currentNumber, 'minutes')}}</span>
  <span>:</span>
  <span class="seconds">{{displayTime(currentNumber, 'seconds')}}</span>
</div>

<button (click)="startTimer()" [disabled]="!buttonStatus">{{ currentNumber === 0 ? 'Start' : 'Resume' }}</button>
<button (click)="pauseTimer()" [disabled]="buttonStatus">Stop</button>

<br>
<button (click)="resetTimer()">Reset</button>
<button class="wait" (click)="waitTimer()" [disabled]="buttonStatus">Wait</button>


<div *ngIf="buttonStatus">
  <input type="number" [(ngModel)]="coefficient" min="1" />
</div>

<p><b>{{coefficient}}</b></p>
<!--<button class="wait" >Wait</button>-->
